*{
    box-sizing: border-box;
}
:root {
    --primary-color: green;
    --secondary-color: grey;
}
html {
    font-size: 1.6rem;
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 30rem;
    height: 1rem;
    background-color: var(--secondary-color);
    margin: 5rem auto;
    border-radius: 2rem;
}
.bar {
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: inherit;
}

.progress {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

