* {
  box-sizing: border-box;
}

html {
  font-weight: normal;
}

body {
  padding: 3rem;
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.signup {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
}
.signup__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.signup__title--small {
  font-size: 1rem;
  font-weight: 6rem;
  margin-bottom: 1.5rem;
  color: red;
  position: relative;
  padding-left: 4rem;
}
.signup__title--small:before {
  content: "";
  width: 3rem;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.signup__social {
  margin-bottom: 2rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  font-size: 10px;
}
.signup__social--item {
  width: calc(50% - 1rem);
  background-color: rgb(242, 242, 242);
  color: black;
  border: 2px rgb(80, 80, 80) solid;
  border-radius: 5px;
  padding-top: 0.7rem;
  padding-left: 0.7rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.signup__social--icon {
  width: 20px; /* Set the maximum width for the icons */
  height: auto; /* Set the maximum height for the icons */
  margin-right: 5px;
  object-fit: cover;
}
.signup-form {
  width: 100%;
}
.signup-form input:focus {
  border: 2px red solid;
  transition: all 0.2s linear;
}
.signup-form__validation {
  width: 100%;
  position: relative;
}
.signup-form__validation:after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: pink;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transition: all 0.2s linear;
}
.signup-form__validation:before {
  content: "";
  width: 8px;
  height: 3px;
  transform: rotate(-45deg);
  border-left: 2px red solid;
  border-bottom: 2px red solid;
  position: absolute;
  top: 57%;
  right: 1.15rem;
  z-index: 2;
  transition: all 0.2s linear;
}
.signup-form__label {
  display: inline-block;
}
.signup-form__group {
  margin-bottom: 1rem;
}
.signup-form__input {
  width: 100%;
  display: block;
  background-color: #f3f3f3;
  border: 2px transparent solid;
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
}
.signup-form__row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.signup-form__row .signup-form__group {
  display: inline-block;
  width: calc(50% - 1rem);
}
.signup-form__checkbox {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.signup-form__checkbox--input {
  display: none;
}
.signup-form__checkbox--input:checked + .signup-form__checkbox--label:after {
  background-color: red;
}
.signup-form__checkbox--input:checked + .signup-form__checkbox--label:before {
  opacity: 1;
  visibility: visible;
}
.signup-form__checkbox--label {
  display: block;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2rem;
}
.signup-form__checkbox--label:after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: rgb(242, 242, 242);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}
.signup-form__checkbox--label:before {
  content: "";
  width: 8px;
  height: 3px;
  transform: rotate(-45deg);
  border-left: 2px white solid;
  border-bottom: 2px white solid;
  position: absolute;
  top: 25%;
  left: 3.5px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.signup-form__submit {
  width: 4rem;
  height: 4rem;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 5px 10px red;
  margin-bottom: 1.5rem;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.signup-form__already a {
  color: red;
  text-decoration: none;
}

.signup__left {
  width: calc(50% - 2rem);
  margin: 2rem;
}

.sign-up__right {
  width: calc(50% - 2rem);
  height: auto;
}
.sign-up__right--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
