* {
    box-sizing: border-box;
}
html {
    font-size: 1.6rem;
    font-weight: normal;;
}
.animation {
    width: 1rem;
    height: 2rem;
    background-color: red;
    animation-name: move;
    animation-fill-mode: forwards; /*chạy xong về vị trí ban đầu*/
    animation-iteration-count: infinite;
    animation-direction:alternate; /*vị trí ban đầu*/
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 1s;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10rem);
    }
}